.thankyou-main-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    perspective: 100vw;
    // border:1px solid red;
    .ty-main-card{
        position: relative;
        width: 35%;
        height: 40vh;
        top:48vh;
        right:-50%;
        // border:1px solid red;
        transform-origin: center center;
        transition: 2s ease-in-out;
        transform:rotate3d(0, 1, 0, 180deg);

    .ty-img{
        position: absolute;
        width: 100%;
        object-fit: contain;
    }
    .rlogo-ty{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(62,62,62);
        background: linear-gradient(93deg, rgba(62,62,62,1) 60%, rgba(0,0,0,1) 95%);
        z-index: 2;
        border-radius: 2vw;
        transform:rotate3d(0, 1, 0, 180deg);
        .r-logoSol-ty{
            position: absolute;
            width: 22%;
            object-fit: contain;
            top:50%;
            left:50%;
            translate:-50% -50%;
            filter:drop-shadow(-0.4vw 0.4vw black);
        }
        h2{
            position: absolute;
            font-size: 1.8vw;
            color:white;
            top:80%;
            left:50%;
            translate:-50% -50%;
        }
    }
   .ty-circle{
    position: absolute;
    top:7vw;
    left:18%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius:50%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(31,31,31,1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    // transform:rotate3d(0, 1, 0, 180deg);
    transition: 2s ease-in-out;

    .ty-boy{
     position: relative;
     width: 80%;
     object-fit: contain;
     filter:drop-shadow(rgb(0, 0, 0) 0 0.5vw 0.85vw );
    }

   }
   .ty-card-data{
    position: absolute;
    height: 17.5vw;
    width: 50%;
    top:2vw;
    right:5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    // border:1px solid yellow;
    // transform:rotate3d(0, 1, 0, 180deg);
    transition: 2s ease-in-out;
    // border:1px solid red;

.ty-btn-outer-box{
    background: rgb(253,58,58);
    background: linear-gradient(130deg, rgba(253,58,58,1) 13%, rgba(0,0,0,0.06766456582633051) 54%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius:1vw;
    .ty-btn-box{
        width: 99.2%;
        height: 98.7%;
     display: flex;
     flex-direction: column;
     background: #000000;
     border-radius:1vw;
    //  width: 25%;

     h1{
        font-size: 2.35vw;
        color:#FD3A3A;
        line-height: 1;
        margin-left: 0.5vw;
        // text-align: right;

        span{
            font-size: 2.25vw;
            font-style: italic;
            font-weight:400;
            color:white;
            opacity:0.85;
        }
     }
     h2{
        font-size: 2.15vw;
        font-weight:200;
        color:white;
        opacity:0.85;
        background: linear-gradient(180deg, #ffffff, #000000);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        line-height: 1;
        margin-left: 0.5vw;
        // text-align: right;
     }
    }
}
    .ty-lower-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
        
        .ty-b1,.ty-b2,.ty-b3{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                font-size: 1vw;
                color:white;
            }
            .ty-com{
                width: 7%;
                object-fit: contain;
            }
        }
     }
   }
  
}
.ty-text{
    position: absolute;
    width: 30%;
    left:0%;
    top:52vh;
    // border:1px solid red;
    

    h1{
       font-size: 7.25vw;
       color:white;
       font-weight: 500;
       padding-left: 8vw;

       &:nth-child(1){
        line-height: 0.75;
       }
       &:nth-child(2){
        font-weight: 400;
        font-style: italic;
        background: rgb(253,58,58);
background: linear-gradient(93deg, rgba(253,58,58,0.4) 61%, rgba(0,0,0,1) 101%);
       }
    }
  }
  .ty-img-holder{
    width: 40%;
    position: absolute;
    left:0;
    top:10vh;
    border-top-right-radius: 10vw;
    border-bottom-right-radius: 10vw;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
  90deg,
  hsl(0deg 98% 61%) 0%,
  hsl(8deg 100% 76%) 10%,
  hsl(10deg 100% 92%) 20%,
  hsl(10deg 100% 92%) 30%,
  hsl(8deg 100% 76%) 40%,
  hsl(0deg 98% 61%) 50%,
  hsl(8deg 100% 76%) 60%,
  hsl(10deg 100% 92%) 70%,
  hsl(10deg 100% 92%) 80%,
  hsl(8deg 100% 76%) 90%,
  hsl(0deg 98% 61%) 100%
);
padding:1.5% 0;
// border:1px solid blue;

    .ty-img-inside{
        width: 96%;
        height: 90%;
        display: flex;
        align-items: center;
        // border: 1px solid green;
         
        .thankY-Img{
            width: 100%;
            // object-fit: contain;
        }
    }
  }

  .ty-service-txt{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
    height: 20vh;
    top:15vh;
    right:15%;
    // border:1px solid blue;

    h2{
        font-size: 2.5vw;
        color:white;
        font-weight: 500;
        letter-spacing: 0.0vw;
    }
    .ty-btn-container{
        display: flex;
        justify-content: space-evenly;
          
        .ty-btn1,.ty-btn2{
            display: flex;

            h2{
                font-size: 1.5vw;
                padding:1vw;
                border-radius: 1vw;
                cursor:pointer;
                border:1px solid #FD3A3A;
                transition:1s ease-in-out;
            }
        }
    }
  }
  .ty-topmost{
    position: absolute;
    width: 40%;
    top:2vh;
    right:2vw;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    .ty-topmost-1{
        width: 100%;
     display: flex;
     justify-content: space-between;
    h2{
     font-size: 2.2vw;
     color:white;
    //  opacity:0.95;
    }

    .ty-icons{
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;

        .icon-ty{
         width: 12%;
         object-fit: contain;
        //  border:1px solid red;
        cursor: pointer;
         transition:0.5s ease-in-out;

        &:hover{
            transform:scale(1.2);
        }
        }
    }
}
.ty-topmost-2{
    width: 90%;
    height: 0.2vh;
    background: rgb(255,255,255);
background: linear-gradient(93deg, rgba(255,255,255,0.8) 39%, rgba(0,0,0,1) 86%);
}
  }
}