
.scope-main-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #050505;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    .left-scope{
      position: relative;
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .lappy-scope{
        position: absolute;
        top:0;
        width: 60%;
        object-fit: contain;
      }

      .first-eye{
        position: absolute;
        width: 25%;
        object-fit: contain;
        bottom:3vw;
      }
      .second-eye{
          position: absolute;
        width: 25%;
        object-fit: contain;
        bottom:3vw;
        left:3vw;
      }
      .third-eye{
          position: absolute;
        width: 15%;
        object-fit: contain;
        bottom:3vw;
      }
    }
    .right-scope{
      position: relative;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .scope-Bg{
        position: absolute;
      }

      .cylinder-box{
        width: 100%;
       display: flex;
       justify-content: space-evenly;
      //  border:1px solid red;
      .cylinder{
        position: relative;
        width: 4vw;
        height: 10vw;
        // border:1px solid violet;
        .scope-txt{
          width: 5vw;
          height: 4vw;
          position: absolute;
          bottom:2.5vw;
          left:-0.5vw;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          overflow: hidden;
          transition:2s ease-in-out;
          // border:1px solid red;
  
          .num-txt1{
            display: flex;
            flex-direction: column;
            transition:2s ease-in-out;
  
            p{
              font-size: 2vw;
              margin:0.5vw 0.25vw;
              color:white;
              text-shadow: -2px 2px 0px #FD3A3A;
            }
          }
          h2{
            color:white;
            font-size: 2vw;
            text-shadow: -2px 2px 0px #FD3A3A;
          }
        }
      
          .top{
            position: absolute;
            bottom:0.95vw;
            width: 4vw;
            height: 1.5vw;
            border-radius: 100%;
            // background: red;
            z-index: 2;
            transition:2s ease-in-out;
            background: linear-gradient(93deg, rgba(249,143,143,1) 25%, rgba(0,243,229,1) 100%);
          }
          .heightt{
            position: absolute;
            bottom:0.722vw;
            width: 4vw;
            height: 1vw;
            background: linear-gradient(180deg, rgba(66,255,142,0.49) 22%, rgba(0,243,229,0.74) 100%);
            transform-origin: bottom;
            transition:2s ease-in-out;
          }
          .bott{
            position: absolute;
            bottom:0;
            width: 4vw;
            height: 1.5vw;
            border-radius: 100%;
            // background: red;
            background: #00F3E5;
            z-index: 1;
          }
          // p{
          //   position: absolute;
          //   bottom:-1.5vw;
          //   color:white;
          //   font-size: 1.2vw;
          // }
          
      }
      z-index: 1;
    }
    .lorem-scope{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      // border:1px solid red;
      margin-top: -13.5vw;
      transition: 2s ease-in-out;
      p{
        color:white;
        font-size: 1.4vw;
        font-weight: 200;
        text-align: center;
      }
      z-index: 1;
      // opacity: 0;
    }

    .tam-txt{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1{
        color:white;
        font-style: italic;
        font-size: 3.5vw;
        letter-spacing: 0.25vw;
      }
      .tam-analysis{
        width: 45%;
        padding:1vw;
        background: #FF4F4F;
        border-top-left-radius:3.5vw;
        border-top-right-radius:3.5vw;
        text-align: center;
        letter-spacing: 0.05vw;
        // border:1px solid green;
      }
      z-index: 1;
    }
    }
}