.bm-main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  // border:1px solid green;
  background: black;
  overflow: hidden;

  .bm-bg {
    position: absolute;
    top: -5vw;
    right: -35vw;
    width: 90%;
    object-fit: contain;
  }
  .black-blanket {
    position: absolute;
    width: 100%;
    height: 100vh;
    // border:1px solid red;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
  }

  .head-div {
    position: absolute;
    left: 50%;
    top: 5%;
    translate: -50%;
    width: 50vw;
    height:6.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    margin: auto;
    z-index: 2;
    overflow: hidden;

    .semi-circle1 {
      width: 3vw;
      height: 6vw;
      border-top-left-radius: 3vw;
      border-bottom-left-radius: 3vw;
      background-image: linear-gradient(
        45deg,
        hsl(0deg 0% 100%) 0%,
        hsl(344deg 0% 84%) 8%,
        hsl(344deg 0% 69%) 17%,
        hsl(0deg 0% 54%) 25%,
        hsl(344deg 0% 56%) 33%,
        hsl(344deg 0% 57%) 42%,
        hsl(0deg 0% 59%) 50%,
        hsl(344deg 0% 72%) 58%,
        hsl(344deg 0% 86%) 67%,
        hsl(0deg 0% 100%) 75%,
        hsl(344deg 0% 79%) 83%,
        hsl(344deg 0% 58%) 92%,
        hsl(0deg 0% 39%) 100%
      );
      transition: 1.25s ease-in-out;
      z-index: 2;
    }
    .semi-circle2 {
        width: 3vw;
        height: 6vw;
        border-top-right-radius: 3vw;
        border-bottom-right-radius: 3vw;
        background-image: linear-gradient(
          315deg,
          hsl(0deg 0% 100%) 0%,
          hsl(344deg 0% 84%) 8%,
          hsl(344deg 0% 69%) 17%,
          hsl(0deg 0% 54%) 25%,
          hsl(344deg 0% 56%) 33%,
          hsl(344deg 0% 57%) 42%,
          hsl(0deg 0% 59%) 50%,
          hsl(344deg 0% 72%) 58%,
          hsl(344deg 0% 86%) 67%,
          hsl(0deg 0% 100%) 75%,
          hsl(344deg 0% 79%) 83%,
          hsl(344deg 0% 58%) 92%,
          hsl(0deg 0% 39%) 100%
        );
        transition: 1.25s ease-in-out;
      }
      .mid-red-part{
        width: 0%;
        height: 4vw;
        background: linear-gradient(
  180deg,
  hsl(0deg 98% 61%) 0%,
  hsl(0deg 91% 59%) 4%,
  hsl(0deg 85% 58%) 7%,
  hsl(0deg 79% 56%) 10%,
  hsl(0deg 74% 54%) 12%,
  hsl(0deg 68% 52%) 14%,
  hsl(0deg 63% 50%) 16%,
  hsl(0deg 63% 48%) 18%,
  hsl(0deg 63% 46%) 20%,
  hsl(0deg 63% 44%) 22%,
  hsl(0deg 62% 42%) 26%,
  hsl(0deg 62% 39%) 35%,
  hsl(0deg 62% 36%) 68%
);
-webkit-box-shadow: -1px 1px 0.8vw 0.5vw rgba(151,35,35,1);
-moz-box-shadow: -1px 1px 0.8vw 0.5vw rgba(151,35,35,1);
box-shadow: -1px 1px 0.8vw 0.5vw rgba(151,35,35,1);

transition: 1.25s ease-in-out;
// z-index: 1;
      }
      .business-txt{
        position: absolute;
        font-size: 2.2vw;
        color:white;
        transition:1.2s cubic-bezier(.58,1.77,.41,.74);
        // translate: -5vw;
        translate: 45vw;
      }
      .model-txt{
          position: absolute;
          width: 15%;
        //   translate: 5vw;
          translate: -35vw;
          object-fit: contain;
          transition:1.2s cubic-bezier(.58,1.77,.41,.74);
      }
    }
    .graph-page{
        position: absolute;
        bottom:2vw;
        right:2vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        transform:translateY(25vw);
        transition:1.25s ease-in-out;
        margin-right: 3vw;
        // border:1px solid red;
        
        .bm-arrow{
          position: absolute;
          bottom:8vw;
          left:2vw;
          width: 4vw;
          object-fit: contain;
          transform-origin: bottom left;
          transform: scale(0);
          transition:1.25s ease-in-out;
        }
        .graph1{
            margin:0 2vw;
            .bm-height{
                position: relative;
                bottom:-1vw;
                width: 4vw;
                height: 2vw;
                border-top-left-radius: 1.5vw;
                border-top-right-radius: 1.5vw;
                background: linear-gradient(180deg, rgba(212,175,55,1) 22%, rgba(212,175,55,0) 100%);
                transition:1.25s ease-in-out;

                .bm-house{
                  position: absolute;
                  top:0.5vw;
                  left:50%;
                  translate:-50%;
                  width: 2vw;
                  object-fit: contain;
                  transform:scale(0);
                  transition:1.25s ease-in-out;
                }
            }
            .base-circle{
            width: 4vw;
            height:2vw;
            border-radius: 50%;
            background: #D4AF37;
            }
        }
    }

      .bmcc-outer{
        position: absolute;
        top:12vw;
        left:9vw;
        width: 35%;
        height: 60%;
        display: flex;
        align-items: flex-end;
        // border:1px solid green;
        border-radius: 2vw;
        transform:translateX(-100vw);
        // background: linear-gradient(217deg, rgba(253,58,58,1) 3%, rgba(255,208,43,0) 100%);
        // background: linear-gradient(153deg, rgba(253,58,58,1) 1%, rgba(255,208,43,0.24413515406162467) 63%);
        background: linear-gradient(194deg, rgba(253,58,58,1) 2%, rgba(255,208,43,0.23853291316526615) 67%);
        transition:1.25s ease-in-out;
        .bmcc-inner{
          position: relative;
          width: 99.5%;
          height: 99.7%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          background: linear-gradient(114deg, rgba(0,0,0,1) 1%, rgba(70,70,70,1) 53%);
          border-radius: 2vw;

         .bmcc-top{
          position: relative;
         display: flex;
         align-items: center;
         
         .bm-icon{
          width: 15%;
          object-fit: contain;
         }
         
         h2{
          font-size: 2.5vw;
          margin-left: 1vw;

          span{
            font-size: 2.4vw;
            font-weight: 200;
          }
         }
         .bm-border{
          position: absolute;
          bottom:-2vw;
          left:50%;
          translate: -50%;
          width: 60%;
          object-fit: contain;
         }
         }
         .bmcc-bottom{
          display: flex;
          flex-direction: column;
          // justify-content: space-evenly;
          .bmcc-txt{
            display: flex;
            justify-content: space-evenly;
            margin-left: 1vw;

            .bm-dot{
              width: 10%;
              object-fit: contain;
            }
            p{
              font-size: 1.2vw;
              color:white;
              margin-left:2vw;
              margin-top: 1vw;
              padding-right: 2vw;
              
              &:last-child{
                margin-bottom: 1vw;
              }
            }
          }
         }
        }
      }
      .price-chart{
        position: absolute;
        bottom:2vw;
        left:9vw;
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border:1px solid red;
        
        .bm-btn{
         transform: translateY(10vw);
         transition:1.25s ease-in-out;
          p{
          font-size: 1.2vw;
          padding:0.75vw;
          background-color: white;
          border-radius: 0.5vw;

          &:hover{
           background-color: #FD3A3A;
           color:white;
          }
         }

        }
        .back-btn-bm{
          width: 10%;
          object-fit: contain;
          cursor:pointer;
          transform: scale(0);
          transition:1.25s ease-in-out;
        }
        .fwd-btn-bm{
          width: 10%;
          object-fit: contain;
          cursor:pointer;
         transform: translate(10vw,10vw);
          transition:1.25s ease-in-out;
        }
      }
    }

